exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
useDynLib(Rsearch, .registration = TRUE)

export(fastx_combine_files)
export(fastx_synchronize)
export(set_vsearch_executable)
export(vs_cluster_size)
export(vs_fastq_filter)
export(vs_fastq_mergepairs)
export(vs_fastq_trim)
export(vs_fastx_uniques)
importFrom(magrittr,"%>%")
